.projectCard {
  background-color: rgb(121, 179, 233);
  display: flex;
  align-items: center;
  border-radius: 8px;
}

@media (max-width: 1500px) {
  .projectCard {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .projectCard div {
    max-width: 700px;
  }
  .projectCard img {
    max-height: 300px;
  }
}


.projectCard img {
  margin-right: 0;
}
